:root {
  --bg-color: rgb(245, 240, 235);
  --bg-color-secondary: rgb(255, 190, 175, 25%);
  --fg-color: rgb(60, 60, 60);
  --accent-color: rgb(60, 90, 90);
  --accent-color-secondary: rgb(85, 60, 90);
}

@font-face {
  font-family: 'fancy';
  src: url('/fonts/PermanentMarker-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('/fonts/Roboto-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth
}

body {
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 1.5em;
  background-color: var(--bg-color);
  color: var(--fg-color);
}

main {
  display: flex;
  flex-direction: column;
}

section {
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

section#splash {
  background: url('/images/splash.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (max-width: 500px) {
  section#splash {
    background-image: none;
  }
}

section#splash > header {
  flex: .2;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1em;
}

@media (max-width: 500px) {
  section#splash > header {
    flex-direction: column;
    margin-left: 0;
    align-items: center;
    flex: .5;
  }
}

section#splash > header > h1 {
  flex: 1;
  font-family: 'fancy', sans-serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,.25);
  margin-left: 2em;
  font-size: 2.5em;
}

@media (max-width: 500px) {
  section#splash > header > h1 {
    flex: 0;
    margin: 0;
    font-size: 1.9em;
  }
}

section#splash > header > nav {
  margin-right: 4em;
}

@media (max-width: 500px) {
  section#splash > header > nav {
    display: none;
  }
}

section#splash > header ul {
  list-style: none;
  display: flex;
  align-items: center;
}

section#splash > header ul > li {
  padding: .5em .75em;
  font-family: "fancy", sans-serif;
  font-size: 1em;
  margin: 0;
}

section#splash > header ul > li > a {
  text-decoration: none;
  color: var(--fg-color);
}

section#splash > header ul > li > a:hover {
  color: var(--accent-color);
}

.split {
  display: flex;
  flex-direction: row;
  flex: 1;
}

@media (max-width: 500px) {
  .split {
    flex-direction: column;
    margin-top: 0em;
  }
}

.split > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

section#splash > div.split {
  width: 100%;
}

div.text {
  margin: 4em 4em;
}

@media (max-width: 500px) {
  div.text {
    margin: 1em 1em;
    align-items: center;
    text-align: center;
  }
}

div.text > h2 {
  font-size: 2em;
}

div.text > p {
  width: 85%;
}

@media (max-width: 500px) {
  div.text > p {
    width: 100%;
  }
}

div.text > ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1em;
}

div.text > ul > li {
  padding: .5em .75em;
  font-size: 1em;
  margin: 0;
}

div.text > ul > li:before {
  content: '★';
  margin: 0 .25em;
}


@media (max-width: 500px) {
  div.text > ul > li {
    flex: 1;
  }
  div.text > ul > li:before {
    content: none;
  }
}

div.text > div {
  display: flex;
  justify-content: center;
}

div.text .fancy {
  font-family: 'fancy', sans-serif;
}

section#splash h2 {
  font-size: 2em;
}

section#splash p {
  font-size: 1.25em;
  /* text-shadow: 0 1px 1px rgba(0,0,0,.25); */
  width: 100%;
}

@media (max-width: 500px) {
  p {
    flex: 1;
  }
}

section#splash p button {
  font-size: 1em;
}

p {
  margin-top: 1em;
}

@media (max-width: 500px) {
  p {
    padding: 1em 0em;
    margin-top: 0;
  }
}

button {
  background-color: var(--accent-color);
  color: var(--bg-color);
  border-radius: 8px;
  transition: box-shadow 300ms, transform 200ms, background 300ms;
  border-width: 0;
  font-size: 1.25em;
  padding: .5em 2em;
  margin: 1em 0em;
  cursor: pointer;
  box-shadow: inset 0 0 0 0.1em var(--accent-color), 0 2px 5px var(--fg-color);
}

button:hover {
  background-color: var(--accent-color-secondary);
  box-shadow: inset 0 0 0 0.1em var(--accent-color-secondary), 0 2px 5px var(--fg-color);
}

div.filler {
  flex: .75;
}

@media (max-width: 500px) {
  div.filler {
    display: none;
  }
}

section#about {
  background-color: var(--bg-color-secondary);
}

section#about .filler {
  background-image: url('/images/about-filler.jpg');
  background-position: center;
  background-repeat: no-repeat;
}

section#about h2 {
  width: 100%;
}

@media (max-width: 500px) {
  section#about h2 {
    width: 100%;
    margin: 0;
    font-size: 1.5em;
  }

  section#about .split {
    margin-top: 0;
  }
}

section#about h3 {
  margin-top: 1em;
}

section#about p {
  width: 100%;
}

section#adina .filler {
  background-image: url('/images/adina.jpg');
  background-position: center;
  background-repeat: no-repeat;
}

section#contact {
  background-color: var(--bg-color-secondary);
}

section#contact > h1 {
  margin: 1em 0em;
  margin-bottom: 0;
  font-family: 'fancy', sans-serif;
  font-size: 2em;
  text-align: center;
}

@media (max-width: 500px) {
  section#contact > h1 {
    font-size: 1.9em;
  }
}

section#contact > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vh;
}

section#contact > div > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0em 1em;
}

section#contact > div > p {
  padding: 1em 1em;
  text-align: center;
}

section#contact > div > h2 {
  text-align: center;
  margin-top: 4em;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (max-width: 500px) {
  form {
    width: 75vw;
  }
}

form > * {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}

@media (max-width: 500px) {
  form > * {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
  }
}

form label {
  margin-top: 1em;
  margin-bottom: .2em;
  padding-left: 0;
  padding-bottom: 0;
  font-size: .75em;
}

form label .small {
  opacity: 50%;
  font-size: .75em;
}

form input {
  border: 0;
  font-size: .75em;
}

form input[type=submit] {
  align-self: center;
  background-color: var(--accent-color);
  color: var(--bg-color);
  border-radius: 8px;
  transition: box-shadow 300ms, transform 200ms, background 300ms;
  border-width: 0;
  font-size: 1.25em;
  padding: .5em 2.5em;
  margin: 1em 0em;
  margin-top: 4em;
  cursor: pointer;
  box-shadow: inset 0 0 0 0.1em var(--accent-color), 0 2px 5px var(--fg-color);
  text-shadow: 0 2px 5px rgba(0,0,0,.25);
}

form input[type=submit]:hover {
  background-color: var(--accent-color-secondary);
  box-shadow: inset 0 0 0 0.1em var(--accent-color-secondary), 0 2px 5px var(--fg-color);
}

form input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 0 4px var(--accent-color);
}

footer {
  background-color: var(--bg-color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer > p {
  margin: 0;
  font-size: .5em;
  text-align: center;
}

@media (max-width: 500px) {
  footer > p {
    padding: 0;
  }
}