:root {
  --bg-color: #f6f4e8;
  --bg-color-secondary: #bacec1;
  --fg-color: #1d3124;
  --accent-color: #e59560;
}

@font-face {
  font-family: 'Satisfy-Regular';
  src: url('/Satisfy-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 1.5em;
  background-color: var(--bg-color);
  color: var(--fg-color);
}

a {
  color: inherit;
  text-decoration: none;
  font-size: .75em;
}

a:hover {
  color: var(--accent-color);
}

p {
  margin-top: 1em;
}

@media (max-width: 500px) {
  p {
    padding: 1em 0em;
    margin-top: 0;
  }
}

button {
  background-color: var(--fg-color);
  color: var(--bg-color);
  border-radius: 30px;
  border-width: 0;
  font-size: 1.25em;
  padding: .5em 2.5em;
  margin: 1em 0em;
  cursor: pointer;
}

@media (max-width: 500px) {
  button {
    font-size: 1.25em;
  }
}

main {
  display: flex;
  flex-direction: column;
}

section {
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

section .subsection {
  flex: 1;
  width: 100%;
}

.split {
  display: flex;
  flex-direction: row;
}

@media (max-width: 500px) {
  .split {
    flex-direction: column;
  }
}

.split > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

div.text {
  margin: 4em 2em;
}

@media (max-width: 500px) {
  div.text {
    margin: 1em 1em;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

div.text > h2 {
  font-size: 2em;
}

div.text > p {
  width: 50%;
}

@media (max-width: 500px) {
  div.text > p {
    width: 100%;
  }
}

div.filler {
  flex: .25;
  /* background-color : var(--accent-color); */
}

section#splash > header {
  flex: .2;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-top: 1em;
}

@media (max-width: 500px) {
  section#splash > header {
    flex-direction: column;
    margin-left: 0;
    align-items: center;
  }
}

section#splash > header > h1 {
  flex: 1;
  font-family: 'Satisfy-Regular', sans-serif;
  margin-left: 1em;
  font-size: 2em;
}

@media (max-width: 500px) {
  section#splash > header > h1 {
    flex: 0;
    margin: 0;
  }
}

section#splash > header > nav {
  margin-right: 1em;
}

section#splash > header ul {
  list-style: none;
}

section#splash > header ul > li {
  display: inline;
  margin-left: 1em;
}

section#about {
  background-color: var(--bg-color-secondary);
}

section#about .filler {
  flex: 1;
}

section#about h2 {
  width: 100%;
}

@media (max-width: 500px) {
  section#about h2 {
    width: 100%;
    margin: 0;
    font-size: 1.5em;
  }
}

section#about h3 {
  margin-top: 1em;
}

section#about p {
  width: 100%;
}

section#services > h1 {
  margin: 1em 1em;
  font-size: 2em;
  text-align: center;
}

section#services h2 {
  font-family: 'Satisfy-Regular', sans-serif;
  text-align: center;
}

section#services > div {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 1em 0em;
}

@media (max-width: 500px) {
  section#services > div {
    flex-direction: column;
  }
}

section#services > div > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0em 1em;
  min-height: 25vh;
}

section#services > div > div > ul {
  margin: 1em 1em;
}

section#services .pricing {
  text-align: center;
  font-style: italic;
}

@media (max-width: 500px) {
  section#services .filler {
    display: none;
  }
}

section#contact {
  background-color: var(--bg-color-secondary);
}

section#contact > div {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 2em 0em;
}

section#contact > div > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0em 1em;
}

form {
  display: flex;
  flex-direction: column;
}

@media (max-width: 500px) {
  form {
    width: 75vw;
  }
}

form > * {
  width: 75%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}

@media (max-width: 500px) {
  form > * {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
  }
}

form label {
  margin-top: 1em;
  margin-bottom: .2em;
  padding-left: 0;
  padding-bottom: 0;
  font-size: .6em;
}

form input {
  border: 0;
  font-size: .75em;
}

form input[type=submit] {
  margin: 2em 0em;
  font-size: .75em;
}

form input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 0 4px var(--bg-color);
}

@media (max-width: 500px) {
  form input[type=submit] {
    width: 75%;
  }
}

footer {
  background-color: var(--bg-color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer > p {
  margin: 0;
  font-size: .5em;
}

@media (max-width: 500px) {
  footer > p {
    padding: 0;
  }
}