* {
    margin: 0;
    padding: 0;
  }

body {
    font-family: Arial, sans-serif;
    background-color: rgb(190, 190, 190);
    color: #242424;
}

main {
    display: flex;
    flex-direction: column;
}

header, section, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

section {
    flex: 1;
    flex-direction: column;
    min-height: 95vh;
}

section:nth-child(odd) {
    /* background: linear-gradient(to top, azure, rgb(190, 190, 190)); */
    background-color: azure;
}

section:nth-child(even) {
    /* background: linear-gradient(to top, rgb(190, 190, 190),  azure); */
    background-color:rgb(190, 190, 190);
}